[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
tornado = "*"
matplotlib = "*"
selenium = {webdriver = "*"}
pydub = "*"
pandas = "*"
keras = "*"
librosa = "*"
eventaccumulator = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
